{% extends "layout.html" %}

{% block title %}Delete Post{% endblock %}

{% block content %}
<h2>Delete {{ post.title }}</h2>
<p>Created at {{ post.created_at }}</p>
{# TODO: Fix post updating when creating (not important).
<p>Created at {{ post.created_at }}{% if post.updated_at %}({{ post.updated_at }}){% endif %}</p>
#}
<p>{{ post.description }}</p>
<img class="post" src="/i/{{ post.filename }}" alt="'{{ post.title }}' uploaded by '{{ post.display_name }}'">

<form action="/post/{{ post.id }}/delete" method="post">
  <p>Are you sure you want to delete {{ post.title }}?</p>

  <input type="submit" value="Yes" />
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
</form>

<a href="/post/{{ post.id }}">Cancel</a>
{% endblock %}
