{% extends "layout.html" %}

{% block title %}Edit Post{% endblock %}

{% block content %}
<h2>Edit {{ post.title }}</h2>
<p>Created at {{ post.created_at }}</p>
{# TODO: Fix post updating when creating (not important).
<p>Created at {{ post.created_at }}{% if post.updated_at %}({{ post.updated_at }}){% endif %}</p>
#}
<img class="post" src="/i/{{ post.filename }}" alt="'{{ post.title }}' uploaded by '{{ post.display_name }}'">
<form action="/post/{{ post.id }}/edit" method="post">
  <p>
    <label for="description">Description</label>
    <textarea name="description" id="description" maxlength="255">{{ post.description }}</textarea>
  </p>
  <p>
    <label for="unlisted">Unlisted</label>
    {% if post.unlisted %}
    <input type="checkbox" name="unlisted" id="unlisted" checked />
    {% else %}
    <input type="checkbox" name="unlisted" id="unlisted" />
    {% endif %}
  </p>
  <label for="tags">Tag</label>
  <select id="tags" name="tags">
    {% for tag in tags %}
    <option value="{{ tag.id }}" {% if post.tag==tag.name %}selected{% endif %}>{{ tag.name }}</option>
    {% endfor %}
  </select>
  <div id="submit-container">
    <input type="submit" value="Confirm" />
    <input type="submit" name="cancel" value="Cancel">
    <input type="submit" name="delete" value="Delete">
  </div>
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
</form>
{% endblock %}
