<header>
  <h1>Photos Hare</h1>
  <div>
    <a href="/">Home</a>
    {% if session.username %}
    <a href="/post">Post</a>
    <span>Logged in as <i><a href="/user/me">{{ session.display_name }}</a></i> &#x2013;</span>
    <a href="/logout">Logout</a>
    {% else %}
    <a href="/login">Login</a>
    <a href="/register">Register</a>
    {% endif %}
  </div>
  <div id="search-box">
    <form action="/" method="get">
      <p>
        <label for="q">Search</label>
        {% if session.query %}
        <input type="text" id="q" name="q" placeholder="Search..." value="{{ session.query }}" />
        {% else %}
        <input type="text" id="q" name="q" placeholder="Search..." />
        {% endif %}
      </p>
      <input type="submit" value="Search" />
    </form>
  </div>
</header>
