{% extends "layout.html" %}

{% block title %}Photos Hare{% endblock %}

{% block content %}
<div id="wall">
  <div id="posts-list">
    <h2>Posts</h2>
    <div id="paginator">
      <form action="/" method="get">
        <div id="paginator-amount">
          <input type="hidden" name="q" value="{{ session.query }}">
          <label for="a">Posts shown</label>
          <select id="a" name="a">
            {% for v in [10, 25, 50, 100, 250] %}
            <option value="{{ v }}" {% if amount==v %}selected{% endif %}>{{ v }}</option>
            {% endfor %}
          </select>
        </div>
        <div id="paginator-page">
          <label for="p">Page</label>
          <input type="number" name="p" min="1" value="{{ page }}">
        </div>
        <input type="submit" value="Go">
      </form>
    </div>
    {% if posts %}
    {% for post in posts %}
    <div>
      <p>{{ post.title }}</p>
      <a href="/post/{{ post.id }}">
        <img class="wall" src="/i/{{ post.filename }}" alt="'{{ post.title }}' uploaded by '{{ post.display_name }}'">
      </a>
      <div>
        <p>{{ post.created_at }}</p>
        <a href="/user/{{ post.user_id }}">{{ post.display_name }}</a>
      </div>
    </div>
    {% endfor %}
    {% else %}
    {% if session.query %}
    <p>No posts found containing '{{ session.query }}'</p>
    {% else %}
    <p>No posts found</p>
    {% endif %}
    {% endif %}
    <div>
      <p>Showing maximum of {{ amount }} posts on page {{ page }}</p>
    </div>
  </div>
</div>
{% endblock %}
