{% extends "layout.html" %}

{% block title %}Photos Hare{% endblock %}

{% block content %}
<div id="wall">
  <div id="posts-list">
    <p>Posts</p>
    {% if posts %}
    {% for post in posts %}
    <div>
      <p>{{ post.title }}</p>
      <a href="/post/{{ post.id }}">
        <img class="wall" src="/i/{{ post.filename }}" alt="'{{ post.title }}' uploaded by '{{ post.display_name }}'">
      </a>
      <div>
        <p>{{ post.created_at }}</p>
        <a href="/user/{{ post.user_id }}">{{ post.display_name }}</a>
      </div>
    </div>
    {% endfor %}
    {% else %}
    {% if session.query %}
    <p>No posts found containing '{{ session.query }}'</p>
    {% else %}
    <p>No posts found</p>
    {% endif %}
    {% endif %}
  </div>
  <div id="users-list">
    <p>Users</p>
    {% if users %}
    {% for user in users %}
    <a href="/user/{{ user.id }}">{{ user.username }}</a>
    {% endfor %}
    {% else %}
    <p>No users found</p>
    {% endif %}
  </div>
</div>
{% endblock %}
