<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <link rel="icon" type="image/svg" href="/static/images/favicon.svg"> -->
  <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
  <link rel="stylesheet" href="/static/style.css">
  <title>{% block title %}{% endblock %}</title>
</head>

<body>
  <div id="app">
    {% if session.alert %}
    <div>
      <p>{{ session.alert }}</p>
      <form action="/alert/clear" method="post">
        <input type="submit" value="&#x1f5d9;" />
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
      </form>
    </div>
    {% endif %}
    <header>
      <h1>Photos Hare</h1>
      <div>
        <a href="/">Home</a>
        {% if session.username %}
        <a href="/post">Post</a>
        <span>Logged in as <i><a href="/user/me">{{ session.display_name }}</a></i> &#x2013;</span>
        <a href="/logout">Logout</a>
        {% else %}
        <a href="/login">Login</a>
        <a href="/register">Register</a>
        {% endif %}
      </div>
    </header>
    <div class="root-content-container">
      {% block content %}{% endblock %}
    </div>
    <footer>
      <a href="https://studies.helsinki.fi/kurssit/opintojakso/otm-f15d8b61-6e3e-47d2-8191-43a92d7d8607/TKT20019?cpId=hy-lv-76"
        target="_blank" rel="noreferrer">Tietokannat ja web-ohjelmointi &#x2013; TKT20019</a>
      <a href="https://github.com/kahkaar/photos-hare" target="_blank" rel="noreferrer">Repository</a>
    </footer>
  </div>
</body>

</html>
