<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/svg" href="/static/images/favicon.svg">
  <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
  <link rel="stylesheet" href="/static/style.css">
  <title>{% block title %}{% endblock %}</title>
</head>

<body>
  <div id="app">
    <header>
      <div>
        <h1>Photos Hare</h1>
      </div>
      <div><a href="#" target="_blank" rel="noreferrer">#</a></div>
    </header>
    <div class="root-container">
      {% block content %}{% endblock %}
    </div>
    <footer>
      <div><a href="https://example.com" target="_blank" rel="noreferrer">Example</a></div>
    </footer>
  </div>
</body>

</html>
