{% extends "layout.html" %}

{% block title %}Photos Hare{% if post.title %} &#x2013; {{ post.title }}{% endif %}{% endblock %}

{% block content %}

{% if post %}
<div>
  <h2>{{ post.title }}</h2>
  <div id="post-header">
    <div id="post-author">
      <a href="/user/{{ post.user_id }}">{{ post.display_name }}</a>
      <p>created at {{ post.created_at }}</p>
      {# TODO: Fix post updating when creating (not important).
      <p>created at {{ post.created_at }}{% if post.updated_at %}({{ post.updated_at }}){% endif %}</p>
      #}
    </div>
    <div id="post-info">
      <div class="likes-container">
        <p>Likes: {{ post.likes }}</p>
        {% if session.user_id %}
        <form action="/post/{{ post.id }}" method="post">
          <input type="submit" name="like" value="+" />
          <input type="submit" name="dislike" value="-" />
          <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
        </form>
        {% endif %}
      </div>
      {% if post.user_id == session.user_id %}
      <a href="/post/{{ post.id }}/edit">Edit</a>
      {% endif %}
    </div>
  </div>
  <div id="post-description">
    <p>{{ post.description }}</p>
  </div>
  <img class="post" src="/i/{{ post.filename }}" alt="'{{ post.title }}' uploaded by '{{ post.display_name }}'">
  {% if post.tag %}<p>Tag: {{ post.tag }}</p>{% endif %}

  {% if session.user_id %}
  <div id="comment-textbox">
    <form action="/post/{{ post.id }}/comment" method="post">
      <p>
        <label for="comment">Comment</label>
        <textarea name="comment" id="comment" maxlength="255" required></textarea>
      </p>
      <input type="submit" value="Comment" />
      <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    </form>
  </div>
  {% else %}
  <p>log in to comment</p>
  {% endif %}
  <div id="comments">
    <div id="paginator">
      <form action="/post/{{ post.id }}" method="get">
        <div id="paginator-amount">
          <label for="a">Comments shown</label>
          <select id="a" name="a">
            {% for v in [10, 25, 50, 100, 250] %}
            <option value="{{ v }}" {% if amount==v %}selected{% endif %}>{{ v }}</option>
            {% endfor %}
          </select>
        </div>
        <div id="paginator-page">
          <label for="p">Page</label>
          <input type="number" name="p" min="1" value="{{ page }}">
        </div>
        <input type="submit" value="Go">
      </form>
    </div>
    {% if comments %}
    {% for comment in comments %}
    <div id="{{ comment.id }}">
      <div class="comment-header">
        <a href="/user/{{ comment.user_id }}">{{ comment.display_name }}</a>
        <p>commented on {{ comment.created_at }}{% if comment.updated_at %}(edited at {{ comment.updated_at }}){% endif
          %}
        </p>
      </div>
      <div class="comment-content">
        <div class="likes-container">
          <p>Likes: {{ comment.likes }}</p>
          {% if session.user_id %}
          <form action="/post/{{ post.id }}?c={{ comment.id }}" method="post">
            <input type="submit" name="like" value="+" />
            <input type="submit" name="dislike" value="-" />
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
          </form>
          {% endif %}
        </div>
        <p class="comment-text">{{ comment.text }}</p>
      </div>
    </div>
    {% endfor %}
    {% endif %}
    <div>
      <p>Showing maximum of {{ amount }} posts on page {{ page }}</p>
    </div>
  </div>

  {% else %}
  <p>post not found</p>
  {% endif %}
</div>
{% endblock %}
