{% extends "layout.html" %}

{% block title %}Photos Hare{% endblock %}

{% block content %}

{% if user %}
<h2 class="card-heading">{{ user.display_name }}</h2>
{% if user.id == session.user_id %}
<form action="/user/me" method="post">
  <input type="submit" value="Settings">
</form>
{% endif %}
<p>Posts made {{ user.post_count }}</p>
<p>Comments made {{ user.comment_count }}</p>
{% if posts %}
<ul>
  {% for post in posts %}
  <li>
    <a href="/post/{{ post.id }}">
      {{ post.title }} &#x2013; {{ post.created_at }}
      {# TODO: Fix post updating when creating (not important).
      {% if post.updated_at %}
      (edited {{ post.updated_at }})
      {% endif %}
      #}
      <img class="list" src="/i/{{ post.filename }}" alt="'{{ post.title }}' uploaded by '{{ user.display_name }}'">
    </a>
  </li>
  {% endfor %}
</ul>
{% else %}
<p>no posts found</p>
{% endif %}
{% else %}
<h2>user not found</h2>
{% endif %}

{% endblock %}
