{% extends "layout.html" %}

{% block title %}Photos Hare{% endblock %}

{% block content %}

{% if user %}
<h2 class="card-heading">{{ user.display_name }}</h2>
{% if user.id == session.user_id %}
<form action="/user/me" method="post">
  <input type="submit" value="Settings">
</form>
{% endif %}
<p>Posts made {{ user.post_count }}</p>
<p>Comments made {{ user.comment_count }}</p>
<div id="wall">
  <div id="posts-list">
    {% if posts %}
    {% for post in posts %}
    <div>
      <p>{{ post.title }}</p>
      <a href="/post/{{ post.id }}">
        <img class="wall" src="/i/{{ post.filename }}" alt="'{{ post.title }}' uploaded by '{{ user.display_name }}'">
      </a>
      <div>
        <p>{{ post.created_at }}</p>
      </div>
    </div>
    {% endfor %}
    {% else %}
    <p>no posts found</p>
    {% endif %}
  </div>
</div>
{% endif %}

{% endblock %}
