{% extends "layout.html" %}

{% block title %}Photos Hare{% endblock %}

{% block content %}
<div id="wall">
  <div id="users-list">
    <h2>Users</h2>
    <div id="paginator">
      <form action="/users" method="get">
        <div id="paginator-amount">
          {# <input type="hidden" name="q" value="{{ session.q }}"> #}
          <label for="a">Users shown</label>
          <select id="a" name="a">
            {% for v in [10, 25, 50, 100, 250] %}
            <option value="{{ v }}" {% if amount==v %}selected{% endif %}>{{ v }}</option>
            {% endfor %}
          </select>
        </div>
        <div id="paginator-page">
          <label for="p">Page</label>
          <input type="number" name="p" min="1" value="{{ page }}">
        </div>
        <input type="submit" value="Go">
      </form>
    </div>
    {% if users %}
    {% for user in users %}
    <div id="user-{{ user.id }}">
      <a href="/user/{{ user.id }}">{{ user.display_name }}</a>
      <p>Created at {{ user.created_at }}</p>
    </div>
    {% endfor %}
    {% else %}
    <p>No users found</p>
    {% endif %}
    <div>
      <p>Showing maximum of {{ amount }} posts on page {{ page }}</p>
    </div>
  </div>
</div>
{% endblock %}
